<div class='gear'></div>

<style>
  .gear {
    width: 60px;
    height: 600px;
    background-color: var(--red-color);
    border: 1rem solid var(--brown-color);
    border-left: none;
    border-radius: 0 20px 0 0;
  }

  @media (max-width: 880px) {
    .gear {
      width: 20px;
      border-right: 0.8rem solid var(--brown-color);
      border-radius: 0 20px 20px 0;
    }
  }
</style>
