<section class='mainScreen'>
  <article class='main__decor'>
    <div class='main__circle-big'></div>
    <div class='main__circle-little'></div>
  </article>
  <article class='main__screen-container'>
    <div class='main__screen-decor'></div>
    <div class='main__screen-decor'></div>
    <div class='main__screen-pokemon'></div>
    <div class='main__screen-btn'></div>
    <div class='main__screeb-song'></div>
  </article>
  <article class='main__btn-container'>
    <div class='main__btn-circle'></div>
    <div class='main__btn-decor'></div>
    <div class='main__btn-decor'></div>
    <div class='main__btn-bar'></div>
    <div class='main__btn-bar'></div>
    <div class='main__btn-screen'></div>
    <div class='main__btn-cruz'></div>
  </article>
</section>

<style>
  .mainScreen {
    position: relative;
    width: var(--width-screen);
    height: 600px;
    background-color: var(--red-color);
    border: 1rem solid var(--brown-color);
    border-radius: 45px 0 0 45px;
    display: flex;
    justify-content: center;
  }

  .main__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: var(--red-color);
    border-left: 7px solid var(--white-color);
    border-top: 7px solid var(--white-color);
    border-bottom: 1rem solid var(--brown-color);
    border-top-left-radius: 25px;
  }

  .main__decor::before {
    z-index: 99;
    content: '';
    position: absolute;
    left: -7px;
    bottom: -65px;
    width: 50%;
    height: 65px;
    background-color: var(--red-color);
    border-left: 7px solid var(--white-color);
    border-right: 1rem solid var(--brown-color);
    border-bottom: 1rem solid var(--brown-color);
    border-radius: 0 0 45px 0;
  }

  .main__circle-big {
    z-index: 999;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 90px;
    height: 90px;
    background-color: var(--blue-green-color);
    border: 12px solid var(--brown-color);
    border-radius: 50%;
  }

  .main__circle-little {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 40px;
    height: 40px;
    background-color: var(--yellow-color);
    border: 5px solid var(--brown-color);
    border-radius: 50%;
  }

  .main__circle-little::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -60px;
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    border: 5px solid var(--brown-color);
    border-radius: 50%;
    transform: rotate(45deg);
  }

  .main__circle-little::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--green-color);
    border: 5px solid var(--brown-color);
    border-radius: 50%;
    transform: rotate(45deg);
  }

  .main__screen-container {
    position: absolute;
    top: 145px;
    width: 88%;
    height: 48%;
    background-color: var(--gley-color);
    border: 7px solid var(--brown-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__screen-pokemon {
    position: absolute;
    top: 15px;
    width: 85%;
    height: 75%;
    background-color: var(--blue-green-color);
    border-radius: 30px;
    border: 7px solid var(--brown-color);
  }

  .main__screen-decor {
    position: absolute;
    top: 5px;
    width: 5px;
    height: 5px;
    background-color: var(--brown-color);
    border-radius: 50px;
  }

  .main__screen-decor:nth-child(1) {
    left: 135px;
  }

  .main__screen-decor:nth-child(2) {
    right: 135px;
  }

  .main__screen-btn {
    position: absolute;
    bottom: 6px;
    left: 80px;
    width: 30px;
    height: 30px;
    background-color: var(--red-color);
    border: 4px solid var(--brown-color);
    border-radius: 30px;
  }

  .main__screeb-song {
    position: absolute;
    bottom: 12px;
    right: 80px;
    width: 55px;
    height: 2px;
    background-color: var(--brown-color);
  }

  .main__screeb-song::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 55px;
    height: 2px;
    background-color: var(--brown-color);
  }

  .main__screeb-song::after {
    content: '';
    position: absolute;
    bottom: 14px;
    width: 55px;
    height: 2px;
    background-color: var(--brown-color);
  }

  .main__btn-container {
    position: absolute;
    top: 425px;
    width: 90%;
    height: 23%;
  }

  .main__btn-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--blue-green-color);
    border-radius: 50%;
    border: 7px solid var(--brown-color);
  }

  .main__btn-decor {
    position: absolute;
    top: 53%;
    width: 20px;
    height: 20px;
    background-color: var(--brown-color);
    border-radius: 50px;
  }

  .main__btn-decor:nth-child(2) {
    left: 30px;
  }

  .main__btn-bar {
    position: absolute;
    top: 15px;
    left: 60px;
    width: 70px;
    height: 20px;
    background-color: var(--green-color);
    border: 4px solid var(--brown-color);
    border-radius: 50px;
  }

  .main__btn-bar:nth-child(4) {
    background-color: var(--yellow-color);
    left: 155px;
  }

  .main__btn-screen {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 50%;
    height: 40%;
    background-color: var(--green-color);
    border: 5px solid var(--brown-color);
    border-radius: 10px;
  }

  .main__btn-cruz {
    position: absolute;
    top: 20px;
    left: 72%;
    width: 80px;
    height: 80px;
    background-color: var(--gley-color);

    clip-path: polygon(
      0 30%,
      30% 30%,
      30% 0,
      70% 0,
      70% 30%,
      100% 30%,
      100% 70%,
      70% 70%,
      70% 100%,
      30% 100%,
      30% 70%,
      0 70%
    );
  }
</style>
