<div class='mainScreen'></div>

<style>
  .mainScreen {
    width: var(--width-screen);
    height: 600px;
    background-color: var(--red-color);
    border: 1rem solid var(--brown-color);
    border-radius: 45px 0 0 45px;
  }
</style>
