---
import MainScreean from './MainScreen.astro'
import Gear from './Gear.astro'
import AsideScreean from './AsideScreen.astro'
---

<main>
  <MainScreean />
  <Gear />
  <AsideScreean />
</main>

<style>
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
